.modal {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    117.84deg,
    var(--triangle-up-color) 2.84%,
    var(--modal-balans-gradient) 67.28%
  );
  border-radius: 30px;
  padding: 29px 25px 35px;

  @media screen and (min-width: 1280px) {
    padding: 29px 30px 32px;
  }
}

.triangleBox {
  position: absolute;
  z-index: 20;
  top: 70px;
  left: -10px;
  width: 288px;
  
  @media screen and (min-width: 768px) {
    top: 50px;
    left: 0;
  }
    @media screen and (min-width: 1028px) {
      top: 50px;
      left: 0;
    }
}


.text {
  font-size: 14px;
  line-height: 1.42;
  color: var(--white-color);
  margin-bottom: 20px;
}

.textModal {
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
  text-align: left;
}
