.modal {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    117.84deg,
    var(--triangle-up-color) 2.84%,
    var(--modal-balans-gradient) 67.28%
  );
  border-radius: 30px;
  padding: 29px 25px 35px;
}

.triangle__box {
  position: relative;
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.text__modal {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--white-color);
  text-align: left;
}
