.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: linear-gradient(
    117.84deg,
    var(--triangle-up-color) 2.84%,
    var(--modal-balans-gradient) 67.28%
  );
  border-radius: 30px;
  padding: 29px 25px 35px;

  @media screen and(min-width:768px) {
    padding: 29px 30px 32px;
    width: 288px;
    height: 152px;
  }
  @media screen and(min-width:1024px) {
    padding: 29px 30px 32px;
  }
  @media screen and(min-width:1024px) {
    padding: 29px 30px 32px;
  }
}

.triangle__box {
  position: relative;
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.text__modal {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--white-color);
  text-align: left;
}
