.wrapper {
  position: absolute;
  z-index: 1500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--loader-bg-color);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
