
.wrapper {
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b7b7b7;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}