.triangle {
  position: absolute;
  top: -10px;
  left: 87px;
}

.triangleUp {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid var(--triangle-up-color);
  opacity: 1;
  z-index: 99;
}
