.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    width: 380px;
    padding: 50px 58px 60px;
    box-shadow: var(--modal-shadow);
    border-radius: 30px;
    background-color: var(--modal-background-color);
}

@media screen and (max-width: 420px) {
    .modal {
        width: 280px;
    }
}

.outBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: 500ms;
}

.outBtn:hover {
    transform: scale(1.2);
}

.title {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--general-text-color);
}

.btnsBox {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 125px;
    height: 44px;

    border-radius: 16px;
    cursor: pointer;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@media screen and (max-width: 420px) {
    .btn {
        width: 75px;
    }
}

.confirmBtnYes {
    border: none;
    background-image: linear-gradient(45deg,
            #fad1b7 0%,
            #ff751d 50%,
            #fb6102 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    transition: 500ms;

    color: var(--general-accent-text-color);
}

.confirmBtnYes:hover {
    background-position: 0 0;
}

.confirmBtnNo {
    background-image: linear-gradient(45deg,
            var(--auth-form-button-normal-color1) 0%,
            var(--auth-form-button-normal-color2) 40%,
            var(--auth-form-button-normal-color3) 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    transition: 500ms;
    border: none;

    color: var(--general-header-color);
}

.confirmBtnNo:hover {
    background-position: 0 0;
}