.backdrop {
  position: fixed;
  background-color: var(--modal-logaut-backdrop);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 380px;
  height: 194px;
  background: var(--white-color);
  box-shadow: 10px 10px 30px var(--modal-logaut-shadow);
  border-radius: 30px;
}

@media screen and (max-width: 420px) {
  .modal {
    width: 280px;
  }
}

.divBtn {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 265px;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  stroke: var(--primary-text-color);

  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}

.outBtn {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  width: 125px;
  height: 44px;
  padding: 12px 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 16px;
  border: 0px;
  box-shadow: 1px 2px 5px var(--form-wrapper-shadow);

}

.outBtnn {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  width: 125px;
  height: 44px;
  padding: 12px 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 16px;
  border: 0px;
  box-shadow: 1px 2px 5px var(--form-wrapper-shadow);
  background-color: var(--accent-color);
  color: var(--white-color);

}

.outBtn:hover {
  color: var(--accent-color);
  font-weight: bolder;
}

.title {
  text-align: center;
  margin-top: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}

.buttons {
  text-align: center;
}

.yes {
  background-color: var(--accent-color);
  margin-right: 15px;
  padding: 12px 34px;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  border: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--white-color);
}

.no {
  background-color: transparent;
  border: 2px solid var(--grey-bg-home-color);
  margin-right: 15px;
  padding: 12px 34px;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
}

.commonStyles {
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid var(--grey-bg-home-color);
  width: 125px;
  height: 44px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.commonStyles:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.commonStyles:not(:last-child) {
  margin-right: 15px;
}
