.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
  width: 380px;
  height: 194px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
}

@media screen and (max-width: 420px) {
  .modal {
    width: 280px;
  }
}

.divbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 265px;
}

.outBtn {
  display: block;
  cursor: pointer;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}

.outBtn:hover {
  color: #ff751d;
  font-weight: bolder;
}

.title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}

.buttons {
  text-align: center;
}

.yes {
  background-color: #ff751d;
  margin-right: 15px;
  padding: 12px 34px;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  border: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
}

.no {
  background-color: transparent;
  border: 2px solid #f5f6fb;
  margin-right: 15px;
  padding: 12px 34px;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
}

.commonStyles {
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid #f5f6fb;
  width: 125px;
  height: 44px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
}

.commonStyles:hover {
  background-color: #ff751d;
  color: #ffffff;
}

.commonStyles:not(:last-child) {
  margin-right: 15px;
}
