.form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
  }
}
.formTitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--balans-form-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.formTitleBox {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-right: 21px;
  }
}

.formInput {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--black-text-color);
  width: 140px;
  height: 44px;

  padding-right: 16px;
  background-color: var(--balance-input-bg);
  border: 2px solid var(--balance-border);
  border-radius: 22px 0 0 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: right;
  @media screen and (min-width: 768px) {
    border-radius: 16px;

    padding-right: 20px;
    text-align: right;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 20px;
  }
  &::placeholder {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: black;
  }
}

.form__icon {
  width: 20px;
  height: 20px;
}

.formInputBox {
  display: flex;
}

.formButton {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--balans-form-color);
  background-color: var(--balance-bg);
  padding: 12px 22px 12px 18px;
  border: 2px solid var(--balance-border);
  border-radius: 0px 22px 22px 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-left: 15px;
    border: 2px solid var(--balance-border);
    border-radius: 16px;
    padding: 12px 6px;
  }

  &:not([disabled]):hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.modal {
  position: relative;
  left: -50px;
  top: 0;
}
