h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* section */
.reportSection {
  position: relative;
}

@media screen and (max-width: 767px) {
  .reportSection {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  .reportSection {
    padding-top: 40px;
    padding-bottom: 378px;
    background-image: url(../../assets/image/cabbage_1x.png);
    background-repeat: no-repeat;
    background-position: right 88px bottom 59px;
  }
}

@media screen and (min-width: 1280px) {
  .reportSection {
    padding-top: 40px;
    padding-bottom: 83px;
    background-image: url(../../assets/image/cabbages_bgr.png),
      url(../../assets/image/cabbages_bgr.png);
    background-repeat: no-repeat;
    background-position: left 10px bottom -38px, left 1255.5px bottom -38px;
  }
}

/* section Background*/
.reportBackgroundSection {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 296px;
  background-color: var(--grey-bg-home-color);
  border-bottom-left-radius: 100px;
}

@media screen and (min-width: 768px) {
  .reportBackgroundSection {
    height: 526px;
  }
}

@media screen and (min-width: 1280px) {
  .reportBackgroundSection {
    background-color: var(--report-bg-color);
  }
}

/* container */
.conteiner {
  margin: 0 auto;
}

/* responsive-container */
@media screen and (max-width: 767px) {
  .conteiner {
    width: 320px;
    padding: 0px 20px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    padding: 0px 32px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner {
    width: 1280px;
    padding: 0px 91px;
    /* position: static; */
  }
}

/* balance */
.balance {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .balance {
    flex-direction: column-reverse;
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 768px) {
  .balance {
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .balance {
    justify-content: flex-end;
    margin-bottom: 8px;
  }
}

.balance .balanceAdd {
  display: flex;
  width: 333px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .balance .balanceAdd {
    position: relative;
    width: 280px;
    height: 72px;
  }
  .balance .balanceForm {
    position: absolute;
    bottom: 0;
    left: 7px;
  }
  .balance .balancebtn {
    position: absolute;
    bottom: 1px;
    right: 7px;
  }
}

@media screen and (min-width: 768px) {
  .balance .balanceAdd {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .balance .balanceAdd {
    margin-right: 228px;
  }
}

/* transitionReport */
@media screen and (max-width: 767px) {
  .balance .transitionReport {
    margin-bottom: 43px;
  }
}

.transitionReport .link {
  text-decoration: none;
  color: #e7192e;
}

/*из компонента Report*/
.balance .transitionReport .report__button {
  margin: 0;
  padding: 0;
}

/* transactionSwitch */
.transactionSwitch {
  display: flex;
}

@media screen and (max-width: 767px) {
  .transactionSwitch {
    position: fixed;
    bottom: 0px;
  }
}

.transactionSwitch button.btn {
  color: var(--black-text-color);
  background-color: var(--grey-bg-auth-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  width: 138px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  border: 1px solid transparent;
}

.transactionSwitch button.btn:hover,
.transactionSwitch button.btn:focus,
.transactionSwitch button.activeBtn {
  background-color: var(--report-transition-switch);
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .transactionSwitch button.btn {
    background-color: var(--white-color);
    border-radius: 0;
    height: 53px;
  }

  .transactionSwitch button.btn:hover,
  .transactionSwitch button.btn:focus,
  .transactionSwitch button.activeBtn {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

/* activity */
@media screen and (min-width: 768px) {
  .activity {
    background: var(--white-color);
    box-shadow: 0px 10px 60px var(--google-btn-shadow);
    border-radius: 0px 30px 30px 30px;
    padding: 24px 40px 42px;
  }
}

@media screen and (min-width: 1280px) {
  .activity {
    padding: 32px 32px 61px;
  }
}

/* activity transaction */
@media screen and (min-width: 768px) {
  .activity .transaction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .activity .transaction {
    display: flex;
    margin-bottom: 60px;
  }
}

/*Data*/
@media screen and (max-width: 767px) {
  .activity .transactionDate {
    position: absolute;
    top: 186px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* @media screen and (min-width: 768px) {
  .activity .transaction .transactionDate {
    width: 102px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .activity .transaction .transactionDate {
    width: 104px;
    height: 40px;
  }
} */

/* form */
/* @media screen and (max-width: 767px) {
  .activity .transaction .transactionform {
    display: none;
  }
} */

/* @media screen and (min-width: 768px) {
  .activity .transaction .transactionform {
    width: 480px;
    height: 44px;
    margin-left: 42px;
  }
}

@media screen and (min-width: 1280px) {
  .activity .transaction .transactionform {
    margin: 0 32px;
    width: 578px;
    height: 44px;
  }
} */

.activity .transaction .transactionformbtnIc {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .activity .transaction .transactionformbtnIc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .activity .transaction .transactionformbtnIc {
    justify-content: center;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .activity .transaction .transactionformbtnIc {
    justify-content: flex-end;
    margin-top: 0px;
  }
}

.activity .transaction .transactionformbtn {
  background-color: var(--report-form-btn);
  height: 44px;
}

@media screen and (min-width: 768px) {
  .activity .transaction .transactionformbtn {
    width: 125px;
  }
  .activity .transaction .transactionformbtn:nth-child(2) {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .activity .transaction .transactionformbtn {
    width: 136px;
  }
  .activity .transaction .transactionformbtn:nth-child(2) {
    margin-left: 16px;
  }
}

/* activity statement */

@media screen and (min-width: 1280px) {
  .activity .statement {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* activity statement table header */
.transactionTable .tableHeader {
  background-color: var(--grey-bg-home-color);
  border-radius: 20px 20px 0 0;
  padding: 0 118.49px 0 28.17px;
  display: flex;
  align-items: center;
  height: 38px;
}

@media screen and (max-width: 767px) {
  .transactionTable .tableHeader {
    display: none;
  }
}

.tableHeader .tableHeaderline {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  color: var(--black-text-color);
}

.tableHeader .tableHeaderline:nth-child(1) {
  width: 87.64px;
}

.tableHeader .tableHeaderline:nth-child(2) {
  width: 129.38px;
  margin-left: 20.87px;
}

.tableHeader .tableHeaderline:nth-child(3) {
  width: 179.46px;
  margin-left: 55.94px;
  justify-content: center;
}

.tableHeader .tableHeaderline:nth-child(4) {
  width: 108.51px;
  margin-left: 17.54px;
  justify-content: center;
}

/* activity statement table List */
@media screen and (min-width: 768px) {
  .tableList {
    height: 342px;
    overflow: auto;
  }

  .tableList::-webkit-scrollbar {
    width: 6px;
    /* ширина всей полосы прокрутки */
  }

  .tableList::-webkit-scrollbar-track {
    background: var(--grey-bg-home-color);
    /* цвет зоны отслеживания */
  }

  .tableList::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* цвет бегунка */
    border-radius: 2px;
    /* округлось бегунка */
  }
}

.activity .transactionList {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .activity .transactionList .transactionListItem {
    display: flex;
    height: 46px;
    border-bottom: 1px solid var(--grey-bg-home-color);
  }
  .activity .transactionList .transactionListItem ul {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
  }
  .transactionListItem .description {
    height: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #52555f;
    margin-bottom: 3px;
  }
  .transactionListItem .date {
    width: 44px;
    height: 7px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.12;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 20px;
    color: #52555f;
  }
  .transactionListItem .categories {
    display: flex;
    margin-right: 12px;
    width: 82px;
    height: 7px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.12;
    letter-spacing: 0.04em;
    color: #52555f;
  }
  .transactionListItem .sum {
    display: flex;
    align-items: center;
    width: 84px;
    height: 20px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
    margin-bottom: 5px;
    color: #e7192e;
  }
}

/* BUTTON */

button {
  margin: 0;
}

.button {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--product-bg-list);
  fill: var(--product-list-btn);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--grey-bg-home-color);
}

/* ICON */

.icon {
  margin: auto;
}

/* @media screen and (min-width: 768px) {
  .tableList ul li {
    display: flex;
    height: 38px;
    border: 2px solid var(--grey-bg-home-color);
    border-right: none;
  }
  .tableList ul:nth-child(2) li:nth-child(1),
  .tableList ul li:not(:first-child) {
    border-top: none;
  }
} */

/* activity statement summary */

@media screen and (min-width: 768px) {
  .activity .statement .summary {
    bottom: -318px;
    left: 32px;
    position: absolute;
  }
}

@media screen and (min-width: 1280px) {
  .activity .statement .summary {
    position: static;
  }
}
