h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* section */
.reportSection {
  position: relative;
}

@media screen and (max-width: 767px) {
  .reportSection {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  .reportSection {
    padding-top: 40px;
    padding-bottom: 378px;
    background-image: url(../../assets/image/cabbage_1x.png);
    background-repeat: no-repeat;
    background-position: right 88px bottom 59px;
  }
}

@media screen and (min-width: 1280px) {
  .reportSection {
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 83px;
    background-image: url(../../assets/image/cabbages_bgr.png),
      url(../../assets/image/cabbages_bgr.png);
    background-repeat: no-repeat;
    background-position: left 10px bottom -38px, left 1255.5px bottom -38px;
  }
}

/* section Background*/
.reportBackgroundSection {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 296px;
  background-color: var(--grey-bg-home-color);
  border-bottom-left-radius: 100px;
}

@media screen and (min-width: 768px) {
  .reportBackgroundSection {
    height: 526px;
  }
}

@media screen and (min-width: 1280px) {
  .reportBackgroundSection {
    background-color: var(--report-bg-color);
  }
}

/* container */
.conteiner {
  margin: 0 auto;
}

/* responsive-container */
@media screen and (max-width: 767px) {
  .conteiner {
    width: 320px;
    padding: 0px 20px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    padding: 0px 32px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner {
    width: 1280px;
    padding: 0px 91px;
    /* position: static; */
  }
}

/* balance */
.balance {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .balance {
    flex-direction: column-reverse;
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 768px) {
  .balance {
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .balance {
    justify-content: flex-end;
    margin-bottom: 8px;
  }
}

.balance .balanceAdd {
  display: flex;
  width: 333px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .balance .balanceAdd {
    position: relative;
    width: 280px;
    height: 72px;
  }
  .balance .balanceForm {
    position: absolute;
    bottom: 0;
    left: 7px;
  }
  .balance .balancebtn {
    position: absolute;
    bottom: 1px;
    right: 7px;
  }
}

@media screen and (min-width: 768px) {
  .balance .balanceAdd {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .balance .balanceAdd {
    margin-right: 228px;
  }
}

/* transitionReport */
@media screen and (max-width: 767px) {
  .balance .transitionReport {
    margin-bottom: 43px;
  }
}

.transitionReport .link {
  text-decoration: none;
  color: #e7192e;
}

/* transactionSwitch */
.transactionSwitch {
  display: flex;
}

@media screen and (max-width: 767px) {
  .transactionSwitch {
    position: fixed;
    margin-left: -20px;
    bottom: 0px;
  }
}

.transactionSwitch button.btn {
  color: var(--black-text-color);
  background-color: var(--grey-bg-auth-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  width: 138px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  border: 1px solid transparent;
}

@media screen and (max-width: 767px) {
  .transactionSwitch button.btn:nth-child(1) {
    margin-right: 4px;
  }
}

.transactionSwitch button.btn:hover,
.transactionSwitch button.btn:focus,
.transactionSwitch button.activeBtn {
  background-color: var(--report-transition-switch);
  color: var(--accent-color);
}

.transactionSwitch button.btn:disabled {
  cursor: default;
}

@media screen and (max-width: 767px) {
  .transactionSwitch button.btn {
    background-color: var(--grey-bg-home-color);
    border-radius: 0;
    height: 53px;
    width: 158px;
  }

  .transactionSwitch button.btn:hover,
  .transactionSwitch button.btn:focus,
  .transactionSwitch button.activeBtn {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.backReportSectionbtn {
  background-color: var(--product-bg-list);
  width: 24px;
  height: 24px;
  display: flex;
  margin-bottom: 16px;
  margin-top: -24px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.backReportSectionbtn:hover,
.backReportSectionbtn:focus {
  background-color: var(--description-color);
}

/* activity */
@media screen and (min-width: 768px) {
  .activity {
    background: var(--white-color);
    box-shadow: 0px 10px 60px var(--google-btn-shadow);
    border-radius: 0px 30px 30px 30px;
    padding: 24px 40px 42px;
  }
}

@media screen and (min-width: 1280px) {
  .activity {
    padding: 32px 32px 61px;
  }
}

/* activity transaction */
@media screen and (min-width: 768px) {
  .activity .transaction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .activity .transaction {
    display: flex;
    margin-bottom: 60px;
  }
}

/*Data*/
@media screen and (max-width: 767px) {
  .activity .transactionDate {
    position: absolute;
    top: 186px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* activity statement */

@media screen and (min-width: 1280px) {
  .activity .statement {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* activity statement summary */

@media screen and (min-width: 768px) {
  .activity .statement .summary {
    bottom: -318px;
    left: 32px;
    position: absolute;
  }
}

@media screen and (min-width: 1280px) {
  .activity .statement .summary {
    position: static;
  }
}
