*,
:after,
:before {
  box-sizing: border-box;
}
/* Mobile 320 */

.iconBox {
  width: 100%;
  height: auto;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;

  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  background: white;
}
.titleBox {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.incomeTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}
/* arrows */
.icon {
  display: block;
  width: 100%;
  height: 10px;
}

.btnToLeft,
.btnToRight {
  width: 30px;
  border: none;
  background-color: inherit;
}

.btnToLeft {
  margin-right: 15px;
}

.btnToRight {
  margin-left: 15px;
}
/* List */
.incomeList {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 20px;
}
/* Styles for IncomeItem  */
.incomeItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84px;
}
.incomeItem:not(:first-child) {
  margin-left: 8px;
}

.incomeAmount {
  margin-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #52555f;
}

.incomeIcon {
  position: absolute;

  width: 56px;
  height: 56px;

  top: 22%;
  left: 15%;

  color: #071f41;
  margin-bottom: 5px;

  z-index: 1;
  /* pointer-events: fill; */
}

.circle {
  width: 59px;
  height: 46.24px;

  background: #f5f6fb;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.circle:hover {
  background-color: #ffdac0;
  /* fill: #ff751d; */
}
/* .incomeIcon:hover + #wrapper {
  background-color: #ff751d;
  fill: #ff751d;
} */
.incomeIcon:hover {
  fill: #ff751d;
}

/* варіант 2 */
.arror {
  width: 10px;
  height: 50px;
}
/* варіант */

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #52555f;
}
.sectionLine {
  width: 280px;
  border-top: 0.5px solid #e0e5eb;
  background-color: #e0e5eb;
  margin: 0 auto;
}

.graphBox {
  margin-right: auto;
  margin-left: auto;
  /* padding: 20px 138px 19px 135px; */
  padding: 20px;
  width: 100%;
  height: auto;

  background: #ffffff;
}

/* тимчасово */
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 120px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  height: 39px;
  width: 136;
}
/* тимчасово */
.balanceWrapper {
  text-align: center;
}
.balanceText {
  margin-bottom: 8px;
}
.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 32px;

  height: 44px;
  width: 183px;
  border: 2px solid #ffffff;
  border-radius: 22px;
  background: #f5f6fb;

  /* box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2); */
  /* border-radius: 30px; */
}

@media screen and (min-width: 768px) {
  .iconBox {
    width: 704px;
    height: 195px;
    padding-top: 20px;
    padding-bottom: 28px;
    margin-bottom: 32px;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }

  .incomeTitle {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .incomeList {
    text-align: center;
    margin-bottom: 0;
  }

  .incomeItem:not(:first-child) {
    margin-left: 20px;
  }

  .incomeAmount {
    margin-bottom: 5.07px;
  }

  .incomeIcon {
    height: 56.29px;
    margin-bottom: 5.52px;
  }

  /* arrows second variant */
  .arror {
    width: 10px;
    height: 50px;
  }

  .sectionLine {
    display: none;
  }

  .graphBox {
    margin-right: auto;
    margin-left: auto;

    padding: 20px;
    width: 704px;
    /* height: 422px; */
    /* overflow: scroll; */
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }

  /* тимчасово */
  .balanceWrapper {
    display: none;
  }

  .calendar {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 1280px) {
  .iconBox {
    width: 1034px;
    height: 196px;
  }

  .incomeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 84px; */
  }
  .incomeItem:not(:first-child) {
    margin-left: 22px;
  }

  .incomeIcon {
    height: 56.82px;
  }

  .graphBox {
    width: 1034px;
    /* background-image: url(/src/image/Rectangle-min.png); */
    /* background-size: 100px 50px; */

    /* overflow-x: scroll;
    overflow-y: hidden;  */
  }
}
