.googleAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;

  &Title {
    margin-bottom: 20px;

    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
    }

    @media screen and (min-width: 1024px) {
    }
  }

  &Btn {
    display: flex;
    align-items: center;
    padding: 10px 19px;
    text-decoration: none;
    color: inherit;
    border-radius: 26px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-text-color);
    background: var(--report-bg-color);
    filter: drop-shadow(1px 2px 3px var(--google-btn-shadow));
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &Icon {
      width: 17px;
      height: 18px;
      margin-right: 10px;
    }
  }
}
