/* FORM */

.formWrapper {
  display: flex;
  margin-bottom: 60px;
}

.form {
  display: inline-flex;
  margin-right: 32px;
}

/* INPUTS */

.label {
  position: relative;
  display: flex;
}

.inputDesc,
.inputSum {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #000000;
  border: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
  outline: none;
}

.inputDesc::placeholder,
.inputSum::placeholder {
  color: #c7ccdc;
}

.inputDesc {
  padding-left: 18px;
  width: 290px;
  border-left: 2px solid;
  border-radius: 16px 0px 0px 0px;
  border-color: #f6f7fc;
}

.inputSum {
  padding: 0px 35px 0px 10px;
  width: 119px;
  text-align: right;
  border-right: 2px solid;
  border-radius: 0px 16px 16px 0px;
  border-color: #f6f7fc;
}

.inputDesc:focus {
  border: 2px solid #ff751d;
}

.inputSum:focus {
  padding-left: 8px;
  border: 2px solid #ff751d;
}

/* ICON */

.icon {
  position: absolute;
  top: 50%;
  right: 1.1em;
  transform: translateY(-50%);
  fill: #52555f;
}

/* BUTTONS */

.submitBtn,
.clearBtn {
  width: 136px;
  height: 44px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 16px;
}

.submitBtn {
  margin-right: 16px;
  color: #ffffff;
  background: #ff751d;
  border: none;
}

.clearBtn {
  background: #ffffff;
  color: #52555f;
  border: 2px solid #f6f7fc;
}
