.transaction__form {
  display: flex;
  margin-bottom: 60px;
}

.form {
  display: inline-flex;
  border: 2px solid #f6f7fc;
  border-radius: 16px 16px 16px 0px;
}

.label {
  display: flex;
}

.input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.input_description {
  composes: input;
  margin-left: 20px;
  border: none;
  border-right: 2px solid #f6f7fc;
  align-items: center;
}

.input_number {
  composes: input;
  text-align: center;
  margin-right: 15px;
  border: none;
  border-left: 2px solid #f6f7fc;
}

.dropdown {
  background-color: #2980b9;
  display: flex;
  align-items: center;
  text-align: center;
}

.dropbtn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  align-items: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownc {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownc li {
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownc li:hover {
  background-color: #ddd;
}

button.button {
  margin-left: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;

  background: #ff751d;
  border-radius: 16px;

  padding: 0 36px;
  border: 1px solid transparent;
}
