.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: #FFFFFF;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 30px;

    @media screen and (min-width: 768px) {
            padding: 56px 84px;
        }
    
        @media screen and (min-width: 1024px) {
            height: 552px;
            margin-right: 91px;
            max-width: 426px;
           
        }
}

.form__wrapper {
    display: flex;
    flex-direction: column;

    &_text {
        font-size: 12px;
        line-height: 1.16;
        color: #52555F;
        margin-bottom: 20px;
    }
}

.form__auth {
    display: flex;
    flex-direction: column;

    &_label {
        font-size: 12px;
        line-height: 1.16;
        margin-bottom: 12px;
    }

    &_input {
            max-width: 100%;
            padding: 17px 19px;
            background: #F6F7FB;
            border-radius: 30px;
            border: none;
            outline: none;
            margin-bottom: 32px;
    }

    &_submit {
        padding: 12px 33px;
        background: #FF751D;
        border-radius: 16px;
        border: none;
        outline: none;
    }

    &_signup {
        padding: 12px 15px;
        background: #F5F6FB;
        border-radius: 16px;
        border: none;
        outline: none;
    }
}



.list__button {
    display: flex;
    justify-content: space-around;
    list-style: none;

    &_item:not(:last-child) {
        margin-right: 8px;
    }
}