.formAuth {
  display: flex;
  flex-direction: column;

  &Title {
    font-size: 10px;
    line-height: 1.2;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
    }
  }

  &Label {
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 12px;
    margin-top: 20px;
    color: var(--black-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.17;
    }
  }

  &Input {
    width: 100%;
    padding: 17px 19px;
    color: var(--black-text-color);
    background: var(--report-bg-color);
    border-radius: 30px;
    border: none;
    outline: none;
    position: relative;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: var(--email-text-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &Submit {
    padding: 12px 33px;
    width: 122px;
    height: 44px;
    background: var(--accent-color);
    border-radius: 16px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--white-color);
    transition: background 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(1px 3px 5px var(--form-submit-shadow));

    &:disabled {
      background: var(--form-submit-disable);
    }
  }

  &Signup {
    padding: 12px 15px;
    width: 122px;
    height: 44px;
    background: var(--register-btn-bg);
    border-radius: 16px;
    border: none;
    outline: none;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--register-btn-text);

    transition: background 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(1px 3px 5px var(--register-btn-shadow));

    &:disabled {
      background: var(--form-signup-disable);
    }
  }
}

.listButton {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  list-style: none;

  &Item:not(:last-child) {
    margin-right: 8px;
  }
}

.error {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--error-color);
  margin-top: 4px;
}

.star {
  color: var(--error-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.containerInputPass {
  position: relative;
}

.eye {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  fill: var(--basic-icon-color);
  opacity: 0.4;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.eye:hover {
  opacity: 1;
}
