h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.transactionList {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .transactionList .transactionListItem {
    display: flex;
    height: 46px;
    border-bottom: 1px solid var(--list-accent);
  }

  .transactionList .transactionListItem ul {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  .transactionListItem .description {
    height: 20px;
    width: 44px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--basic-icon-color);
    margin-bottom: 3px;
  }

  .transactionListItem .date {
    width: 44px;
    height: 7px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.12;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 20px;
    color: var(--list-item-text);
  }

  .transactionListItem .categories {
    display: flex;
    margin-right: 6px;
    width: 82px;
    height: 7px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.12;
    letter-spacing: 0.04em;
    color: var(--list-item-text);
  }

  .transactionListItem .sum {
    display: flex;
    align-items: center;
    height: 20px;
    width: 90px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
    margin-bottom: 5px;
    justify-content: flex-end;
  }

  .red {
    color: var(--minus-balance-color);
  }

  .green {
    color: var(--plus-balance-color);
  }
}

/* BUTTON */

button {
  margin: 0;
}

.button {
  display: flex;
  margin-left: 18px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: none;
  fill: var(--basic-icon-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ICON */

.icon {
  margin: auto;
}
