.chartView {
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .chartView {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 80px;
    padding: 5px 35px;
    overflow-x: auto;
  }
  .chart {
    margin-left: 0px;
  }

  .chartView::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .chartView::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  .chartView::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0.44, rgb(255, 218, 192)),
      color-stop(0.72, rgb(255, 167, 102)),
      color-stop(0.86, rgb(255, 117, 29))
    );
  }
}

@media screen and (min-width: 1280px) {
  .chartView {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 5px 138px;
  }
  .chart {
    margin: 0 auto;
  }
}

.chartMobileWrapper {
  margin-top: 12px;
  margin-bottom: 52px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.customTooltip {
  display: block;
  width: 150px;
  word-wrap: break-word;
  border: none;
  background-color: transparent;
}
.customTooltipLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
}
