.header__hero {
  padding: 87px 0 137px 0;
  background-color: #f5f6fb;
  border-bottom-left-radius: 100px;
  position: relative;
  z-index: 0;
}

.pre__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #52555f;
}
