.container__title {
    margin-bottom: 50px;

     @media screen and (min-width: 768px) {
            margin-bottom: 80px;
        }
    @media screen and (min-width: 1024px) {
            margin-top: 194px;
        }
}

.title {
    margin: 0;
    padding: 0;
    // font-size: 40px;
    // margin-bottom: 5px;

    // @media screen and (min-width: 768px) {
    //     font-size: 60px;
    // }
    
    // @media screen and (min-width: 1024px) {
    //     font-size: 100px;
    // }
}

.pre__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #52555F;
    margin-left: 11px;

    @media screen and (min-width: 768px) {
            margin-left: 40px;
            font-size: 16px;
            line-height: 1.18;
            letter-spacing: 0.18em;
        }
}

.cabbage {
    margin: 0;
    padding: 0;
    width: 138px;
    height: 46px;

    @media screen and (min-width: 768px) {
            width: 306px;
            height: 77px;
        }
    
        @media screen and (min-width: 1024px) {
            width: 377px;
            height: 120px;
        }
}