/* TABLE */

table {
  width: 750px;
  text-align: left;

  @media screen and (max-width: 1280px) {
    width: 630px;
  }
}

/* common styles */

th,
td,
tr,
thead,
tbody {
  display: block;
}

td,
th {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  font-size: 12px;
  line-height: 1.17;
}

tr {
  height: 40px;
  background-color: var(--grey-bg-home-color);
}

/* thead */

thead {
  background-color: var(--grey-bg-home-color);
  color: var(--form-signup-disable);

  /* border: 2px solid #f5f6fb; */
  border-radius: 16px 16px 0px 0px;
}

/* thead tr */

thead tr {
  border-radius: 16px 16px 0px 0px;
}

/* th */

th {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black-text-color);
}

th:nth-child(1) {
  padding-left: 28px;
  width: 17.6%;

  @media screen and (max-width: 1280px) {
    padding-left: 18px;
    width: 20.9%;
  }
}

th:nth-child(2) {
  padding-left: 6px;
  width: 24.6%;

  @media screen and (max-width: 1280px) {
    padding-left: 0;
    width: 27.9%;
  }
}

th:nth-child(1),
th:nth-child(2) {
  text-align: left;
}

th:nth-child(3) {
  justify-content: center;
  width: 26.6%;

  @media screen and (max-width: 1280px) {
    width: 21.9%;
  }
}

th:nth-child(4) {
  justify-content: center;
  width: 15.5%;

  @media screen and (max-width: 1280px) {
    width: 16.6%;
    justify-content: right;
  }
}

th:nth-child(3),
th:nth-child(4) {
  text-align: center;
}

th:nth-child(5) {
  width: 15.2%;

  @media screen and (max-width: 1280px) {
    width: 12.2%;
  }
}

th:nth-child(6) {
  width: 0.5%;
}

/* tbody */

tbody {
  height: 360px;
  overflow-y: auto;
  overflow-x: hidden;

  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--grey-bg-home-color);
}

/* tbody tr */

tbody tr {
  background-color: var(--white-color);
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--grey-bg-home-color);
}

/* td */

td {
  font-weight: 400;
  letter-spacing: 0.04em;
}

td:nth-child(1) {
  padding-left: 20px;
  width: 17.5%;

  @media screen and (max-width: 1280px) {
    width: 20.9%;
  }
}

td:nth-child(2) {
  width: 24.9%;

  @media screen and (max-width: 1280px) {
    width: 28.1%;
  }
}

td:nth-child(3) {
  justify-content: center;
  width: 26.8%;

  @media screen and (max-width: 1280px) {
    width: 22.2%;
  }
}

td:nth-child(4) {
  justify-content: center;
  width: 15.8%;
  font-weight: 700;
  color: var(--minus-balance-color);

  &.red {
    color: var(--minus-balance-color);
  }

  &.green {
    color: var(--plus-balance-color);
  }

  @media screen and (max-width: 1280px) {
    justify-content: right;
    width: 16.8%;
  }
}

td:nth-child(5) {
  justify-content: center;
  width: 15%;

  @media screen and (max-width: 1280px) {
    width: 12%;
  }
}

/* BUTTON */

button {
  margin: 0;
}

.button {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--product-bg-list);
  fill: var(--product-list-btn);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--grey-bg-home-color);
}

/* ICON */

.icon {
  margin: auto;
  pointer-events: none;
}

/* NOTIFICATION */

.notification {
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--grey-bg-home-color);
}

.notification td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
  opacity: 0.6;
}

/* LOADER */

.loaderWrapper {
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--grey-bg-home-color);
}

.loaderWrapper td {
  padding: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}
