@import "./css/normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --black-text-color: #000000;
  --primary-text-color: #52555f;
  --email-text-color: #a6abb9;
  --warning-text-color: #ff0000;
  --description-color: #c7ccdc;
  --dark-blue-color: #071f41;

  --white-color: #ffffff;
  --accent-color: #ff751d;
  --balance-minus: #e53935;
  --error-color: #eb5757;
  --secondary-accent-color: #ffdac0;
  --icons-item-bg: #ffa500;
  --loader-bg-color: #b7b7b7;
  --plus-balance-color: #407946;
  --minus-balance-color: #e7192e;

  --grey-bg-auth-color: #f6f7fb;
  --grey-bg-home-color: #f5f6fb;
  --grey-bg-u-color: #f5f6fa;
  --report-bg-color: #f5f6fb;
  --category-btn-fill: #f1f1f1;

  --logout-btn-color: #cbccd0;

  --dark-theme-color: #939397;

  --form-submit-disable: #efb089;
  --form-signup-disable: #fbfbfb;
  --income-section-line: #e0e5eb;
  --triangle-up-color: #1d346a;
  --modal-balans-gradient: #031634;
  --report-balans-add: #bc8f8f;
  --report-transition-report: #783d3d;
  --report-transition-switch: #fefefe;
  --report-transition-activity: #0f3075;
  --report-form-activity: #384c9b;
  --report-form-btn: #f6ec2d;
  --report-summaty-border: #585a62;
  --product-list-btn: #afb1b8;
  --bg-thumb-hover: #ff9900;

  --modal-logaut-backdrop: rgba(0, 0, 0, 0.5);
  --form-wrapper-shadow: rgba(170, 178, 197, 0.4);
  --google-btn-shadow: rgba(170, 178, 197, 0.2);
  --modal-logaut-shadow: rgba(82, 85, 95, 0.4);
  --balans-form-color: rgba(82, 85, 95, 0.7);
  --form-submit-shadow: rgba(255, 107, 8, 0.35);
  --report-bg-balans: rgb(160, 174, 246);
  --product-bg-list: rgba(255, 255, 255, 0.1);
  --register-btn-shadow: rgba(82, 85, 95, 0.15);

  /* my staff */
  --body-bg-color: #ffffff;
  --report-window-bg-color: #ffffff;
  --category-type-bg-inactive: #f6f7fb;
  --category-type-bg-active: #fefefe;
  --balance-input-bg: #f5f6fb;
  --input-bg: #ffffff;
  --input-border: #f5f6fb;
  --placeholder-text: #c7ccdc;
  --clear-btn-bg: #ffffff;
  --clear-btn-text: #52555f;
  --clear-btn-border: #f6f7fb;
  --list-accent: #f5f6fb;
  --list-bg: #ffffff;
  --list-item-text: #000000;
  --summary-item-border-bg: #ffffff;
  --summary-text: #52555f;
  --basic-icon-color: #52555f;
  --delete-btn-hover-bg: #f5f6fb;
  --balance-bg: #f5f6fb;
  --balance-border: #ffffff;
  --category-hover-text: #52555f;
  --register-btn-text: #52555f;
  --register-btn-bg: #f5f6fb;
  --modal-text: #52555f;
  --modal-bg: #ffffff;
  --cancel-btn-border: #f6f7fb;
  --report-icon-color: #071f41;
}

[data-theme="dark"] {
  --black-text-color: #fffcf2;
  --report-bg-color: #252422;
  --primary-text-color: #ccc5b9;
  --grey-bg-u-color: #252422;
  --email-text-color: #ccc5b9;

  --plus-balance-color: #2eaf3b;
  --minus-balance-color: #fd1d33;

  --logout-btn-color: #ccc5b9;

  --balans-form-color: rgba(255, 252, 242, 0.7);
  --form-wrapper-shadow: rgb(0 0 0 / 22%);
  --google-btn-shadow: rgb(0 0 0 / 32%);
  --modal-logaut-shadow: rgb(0 0 0 / 32%);
  --modal-logaut-backdrop: rgba(50, 50, 50, 0.5);

  /* my staff */
  --body-bg-color: #403d39;
  --report-window-bg-color: #403d39;
  --category-type-bg-inactive: #2c2c2c;
  --category-type-bg-active: #3d3a36;
  --balance-input-bg: #252422;
  --input-bg: #403d39;
  --input-border: #252422;
  --placeholder-text: #ccc5b9;
  --clear-btn-bg: #403d39;
  --clear-btn-text: #ccc5b9;
  --clear-btn-border: #252422;
  --list-accent: #252422;
  --list-bg: #403d39;
  --list-item-text: #ccc5b9;
  --summary-item-border-bg: #403d39;
  --summary-text: #ccc5b9;
  --basic-icon-color: #fffcf2;
  --delete-btn-hover-bg: #252422;
  --balance-bg: #252422;
  --balance-border: #403d39;
  --category-hover-text: #fffcf2;
  --register-btn-text: #52555f;
  --register-btn-bg: #f5f6fb;
  --modal-text: #fffcf2;
  --modal-bg: #252422;
  --cancel-btn-border: #3d3b37;
  --report-icon-color: #bec0c8;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: var(--body-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  background: var(--list-accent);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-thumb-hover);
}
