.user {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);

  &Meta {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-right: 20px;
      border-right: 1px solid var(--income-section-line);
    }
  }

  &Avatar {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
    background-color: var(--grey-bg-u-color);
    margin-right: 16px;
    border-radius: 50%;
    pointer-events: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &Name {
    display: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &Logout {
    padding: 15px 0;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration-line: underline;

    &:hover .userBtnText {
      color: var(--accent-color);
    }
  }

  &BtnText {
    line-height: 1.17;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
}

.iconLogout {
  display: block;
  fill: var(--logout-btn-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
