.user {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);

  &Meta {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-right: 20px;
      border-right: 1px solid var(--income-section-line);
    }
  }

  &Avatar {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
    background-color: var(--grey-bg-u-color);
    margin-right: 16px;
    border-radius: 50%;
  }

  &Name {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &Logout {
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration-line: underline;
  }

  &BtnText {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
}

.iconLogout {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
