.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 20px 0;
  color: #52555f;

  height: 106px;
  width: 93px;
  display: inline-grid;
  position: relative;
}

.item::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  position: absolute;
  right: -93px;
  bottom: -20px;
  background-color: black;
}

.icon {
  height: 56px;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  height: 60px;
  &:hover .svg1,
  &:focus .svg1 {
    fill: #ffdac0;
  }

  &:hover .svg2,
  &:focus .svg2 {
    fill: orange;
  }
}

.svg1 {
  fill: #f5f6fb;
}

.svg2 {
  display: block;
  height: 30px;
  fill: #071f41;
  position: absolute;
  top: 20px;
  left: 30px;
}

.wrapperSvg {
  position: relative;
  height: 56px;
  margin-bottom: 5px;
  width: 100%;
  background-color: transparent;
}

/* #F5F6FB */

.amount {
  margin-bottom: 5px;
}
