.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  // color: #52555f;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 20px 0;

  position: relative;
  display: inline-grid;

  height: 106px;
  width: 93px;
}

.item::after {
  content: "";
  display: block;
  width: 280px;
  height: 1.3px;
  position: absolute;
  right: -93px;
  bottom: -20px;
  background-color: #e0e5eb;
  // background-color: var(--black-text-color);
}

.amount {
  margin-bottom: 5px;
}
.icon {
  height: 56px;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  height: 60px;
  &:hover .svg1,
  &:focus .svg1 {
    // fill: var(--secondary-accent-color);
    fill: #ffdac0;
  }

  &:hover .svg2,
  &:focus .svg2 {
    fill: orange;
    // fill: var(--icons-item-bg);
  }
}

.icon:active {
  // display: none;
  // fill: orange;
}
.svg1 {
  fill: #f5f6fb;
  // fill: var(--grey-bg-home-color);
}

.svg2 {
  display: block;
  height: 30px;
  fill: #071f41;
  // fill: var(--dark-blue-color);
  position: absolute;
  top: 20px;
  left: 30px;
}

// .wrapperSvg {
//   position: relative;
//   height: 56px;
//   margin-bottom: 5px;
//   width: 100%;
//   background-color: transparent;
// }

/* #F5F6FB */

@media screen and (min-width: 768px) {
  .item::after {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .item {
    border-bottom: none;
  }
}
